# игнорировать файл settings.json в директории .vscode
.vscode/settings.json

# игнорировать файл configuration.cpython-313.pyc в директории __pycache__
__pycache__/configuration.cpython-313.pyc

# игнорировать файл create_order_test.cpython-313-pytest-8.4.2.pyc в директории __pycache__
__pycache__/create_order_test.cpython-313-pytest-8.4.2.pyc

# игнорировать файл data.cpython-313.pyc в директории __pycache__
__pycache__/data.cpython-313.pyc

# игнорировать файл sender_stand_request.cpython-313.pyc в директории __pycache__
__pycache__/sender_stand_request.cpython-313.pyc

